.Title {
  position: relative;
  height: 40vw;
  width: 80vw;
  margin: 2vw 10vw;
  background-image: url('../../../assets/images/blackWhite.jpg');
  background-size: contain;
  text-align: end;
  .logo {
    position: absolute;
    top: 22vw;
    left: 10vw;
    .logoImg {
      width: 15vw;
      vertical-align: bottom;
      margin-bottom: -1.3vw;
    }
    span {
      vertical-align: bottom;
      font-size: 2vw;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 700;
    }
  }
  .description{
    padding-top: 5vw;
    padding-right: 1.5vw;
    font-size: 1.2vw;
    line-height: 2.5;
    color: rgb(226, 238, 239);
    a {
      text-decoration: none; 
      color: inherit;
      font-weight: 800;
      font-size: 2vw;
      text-shadow:
       -2px -2px 0 #657674,
      }
    }  
  }