.StudyMap {
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-left: 10vw;
  width: 15vw;
  // background-color: pink;
  flex-flow: wrap;
  .each {
    margin: 0 1vw;
    position: relative;
    padding: 0.5vw;
    text-align: center;
    font-size: 1vw;
    border-radius: 0.2vw;
    cursor: pointer;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 40%;
      height: 40%;
      border-top: solid 0.2vw rgb(255, 166, 49);
      border-left: solid 0.2vw rgb(255, 166, 49);
      border-radius: 0.2vw;
      transition: all 0.5s;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 25%;
      height: 25%;
      border-bottom: solid 0.2vw rgb(255, 166, 49);
      border-right: solid 0.2vw rgb(255, 166, 49);
      border-radius: 0.2vw;
      transition: all 0.5s;
    }
    &.active {
      background-color: rgb(255, 166, 49);
      box-shadow: 0 0 2vw rgb(255, 183, 89);
      transition-delay: 0.5s;
      &::before,&::after {
        width: 100%;
        height: 100%;
      }
    }
  }
}