@import 'bootstrap/dist/css/bootstrap.min.css';

.BreadCrumb {
  height: 3vw;
  .breadcrumb {
    position: fixed;
    width: 100%;
    background-color: rgb(79, 83, 92, 0.2);
    height: 3vw;
    padding: 1vw 2vw;
    line-height: 1.2;
    justify-content: flex-end;
    .breadcrumb-item {
      border: 0.15vw solid black;
      padding: 0 1vw;
      margin: 0 1vw;
      font-size: 1vw;
      border-radius: 1vw;
      transition: all 0.5s;
      cursor: pointer;
    }
  
    .breadcrumb-item.nick-active {
      background-color: orange;
      border: 0.15vw solid white;
      color: rgb(255, 247, 232);
    }
  
    .breadcrumb-item:last-child {
      margin-right: 10%;
    }
    
    .breadcrumb-item::before {
      content: none;
    }
  }
}

