@import 'bootstrap/dist/css/bootstrap.min.css';

.Header {
  height: 3vw;
  display: flex;
  .header {
    z-index: 100;
    position: fixed;
    width: 100%;
    background-color: rgb(178, 187, 206);
    height: 3vw;
    padding: 0.75vw 2vw;
    line-height: 1;
    border-bottom: solid rgb(255, 255, 255) 0.1vw;
    text-align: end;
    border-radius: 0 0 1vw 1vw;
    .header-item {
      list-style: none;
      display: inline-block;
      border: 0.15vw solid black;
      padding: 0 1vw;
      margin: 0 1vw;
      font-size: 1.5vw;
      border-radius: 1vw;
      transition: all 0.5s;
      cursor: pointer;
    }
  
    .header-item.nick-active {
      background-color: orange;
      border: 0.15vw solid white;
      color: rgb(255, 247, 232);
    }
  
    .header-item:last-child {
      margin-right: 10%;
    }
  }
}

